<h2>Posts</h2>
<div class="row">
    <div class="col">
        <app-spinner [visible]="isLoading"></app-spinner>
        <ul class="list-group posts">
            <li *ngFor="let post of posts" class="list-group-item" [class.active]="currentPost == post"
                (click)="select(post)">
                {{ post.title }}
            </li>
        </ul>
    </div>
    <div class="col">
        <div *ngIf="currentPost" class="card">
            <div class="card-header">
                {{ currentPost.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ currentPost.body }}</li>
            </ul>
            <div *ngFor="let comment of currentPost.comments" class="media border p-3">
                <img [src]="comment.appUser.photo ? userImgUrl + comment.appUser.photo : userImgUrl + 'no-image.png'" alt="" class="mr-3 mt-3 rounded-circle thumbnail"> 
                <div class="media-body">
                    <i><h5 class="handle">{{ comment.appUser.userName ? comment.appUser.userName : comment.appUser.email }}</h5></i>
                    <p>{{ comment.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>