<h2>Posts</h2>
<div class="row">
    <div class="col">
        <select class="form-control mb-1" (change)="reloadPosts(u.value)" #u>
            <option value="">Select a user...</option>
            <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
        <app-pagination [items]="posts" [page-size]="pageSize" (page-changed)="onPageChanged($event)"></app-pagination>
        <app-spinner [visible]="postsLoading"></app-spinner>
        <ul class="list-group posts">
            <li *ngFor="let post of pagedPosts" class="list-group-item" [class.active]="currentPost == post"
                (click)="select(post)">
                {{ post.title }}
            </li>
        </ul>
    </div>
    <div class="col">
        <div *ngIf="currentPost" class="card">
            <div class="card-header">
                <app-favorite *ngIf="this.loggedInUser" [isFavorite]="isPostUserFavorite" (change)="onFavoriteChange($event)"></app-favorite>
                {{ currentPost.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ currentPost.body }}</li>
            </ul>
            <app-spinner [visible]="commentsLoading"></app-spinner>
            <div *ngFor="let comment of comments" class="media border p-3">
                <img [src]="comment.appUser.photo ? userImgUrl + comment.appUser.photo : userImgUrl + 'no-image.png'"
                    alt="" class="mr-3 mt-3 rounded-circle thumbnail">
                <div class="media-body">
                    <h5 class="handle">
                        {{ comment.appUser.userName }}
                    </h5>
                    <p>{{ comment.body }}</p>
                    <app-like *ngIf="this.loggedInUser" [totalLikes]="comment.likes?.length" [iLike]="isUserLikeComment(comment)" (change)="onLikeChange($event)"></app-like>
                </div>
            </div>
        </div>
    </div>
</div>