<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <img src="/assets/img/single_user.png" class="mx-auto d-block">
        <form [formGroup]="loginForm" class="mb-4" autocomplete="off" (submit)="login()">
            <div class="form-group">
                <label for="username"><strong>Username</strong></label>
                <input id="username" type="text" class="form-control" formControlName="username" required>
                <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="alert alert-danger">
                    <div *ngIf="loginForm.get('username').errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password"><strong>Password</strong></label>
                <input id="password" type="password" class="form-control" formControlName="password" required>
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="alert alert-danger">
                    <div *ngIf="loginForm.get('password').errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block btn-primary"
                        [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>